body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
  font-family: 'VT323', monospace;
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

/* left navbar */
.menu {
  background-color: #CCC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.menu a:link,
.menu a:visited {
  text-decoration: none;
  counter-reset: none;
  color: #000000EE;
}


.buttonsmenu {
  background-color: #CCC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#instructions:hover {
  cursor: pointer;
}

/* modal */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* InGame Buttons */

.toolStyle {
  background-position: center;
  background-repeat: no-repeat;
  height: 7vh;
  width: 4vw;
  background-size: contain;
}

#shovel,
#shovelShow {
  background-image: url(/imgs/Diamond_Shovel.png);
}

.buttonsmenu #pickAxe {
  background-image: url(/imgs/Diamond_Pickaxe.png);
}

.buttonsmenu #axe {
  background-image: url(/imgs/Diamond_Axe.png);
}

.buttonsmenu #inventory {
  background-image: url(/imgs/inv.png);
}

button:hover {
  cursor: pointer;
}

.selected {
  background-color: rgb(116, 179, 255);
}


/* middle grid */

#gameBoard {
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  gap: 0;
}

/* Texture Classes */

.sky {
  background-color: rgb(116, 179, 255);
}

.dirt {
  background-image: url(/imgs/dirt.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.grass {
  background-image: url(/imgs/Grass_Block.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.wood {
  background-image: url(/imgs/Oak_Log.png);
  background-position: center;
  background-size: contain;
}

.leaves {
  background-image: url(/imgs/Azalea_Leaves.png);
  background-position: center;
  background-size: contain;
  background-color: rgb(116, 179, 255);
}

.stone {
  background-image: url(/imgs/Cobblestone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#cloud {
  background-color: #e5e0e0;
}

.bedRock {
  background-image: url(/imgs/bedrock.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#gameBoard div:hover {
  border: 1px black solid;
}